# --------------------------------------------------
# HAWSER
# --------------------------------------------------

HAWSER_TOKEN='your-hawser-token'

# --------------------------------------------------
# SMB BACKUP TARGET
# --------------------------------------------------

SMB_SERVER=192.168.x.x
SMB_SHARE=backups
SMB_SUBFOLDER=monitoring

SMB_USER='your_username'
SMB_PASS='your_password'
SMB_VERSION=3.0

# --------------------------------------------------
# BACKUP SETTINGS
# --------------------------------------------------

MOUNT_POINT=/mnt/backup-share
BACKUP_RETENTION_DAYS=56
BACKUP_SCHEDULE='0 2 * * 5'

# --------------------------------------------------
# HOST INFORMATION
# --------------------------------------------------

TIMEZONE=Region/City